body {
  font-family: Helvetica;
  text-align: center;
}

/* Header */
.header {
  background: url("../images/the-flatiron-building.png") no-repeat center center;
  background-size: cover;
}

h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

.topnav {
  display: block;
  margin: 20px;
}
a {
  color: white;
  font-size: 18px;
}

/* Main */
h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

/*Thin Banner */
.thinbanner {
  background-image: url("../images/the-flatiron-building.png");
}

#whitebanner {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

/* Footer */
.footer {
  background-color: dimgray;
  text-align: left;
}

.bottom-nav {

}

#copyright {
  color: white;
  display: inline;
  font-size: 11px;
}
